* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    width: 100%;
    position: relative;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}
.navbar {
    display: flex;
    padding: 10px 0;
    justify-content: space-around;
    width: 100%;
}

.navbar-brand {
    margin-left: 20px;
    font-size: 35px;
    font-weight: 700;
    color: #000;
    padding-left: 3%;
}
.navbar-nav .nav-link {
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin: 0 8px;
    transition: color 0.3s ease;
}
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:active {
    color: #b48a3d;
    transition: 0.2s ease;
}
.navbar-collapse{
    justify-content: center;
}
.fa-shopping-bag{
    font-size: 25px;
}
.dropdown-menu {
    border: none;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
    padding: 10px 0;
}
.dropdown-item {
    font-size: 14px;
    padding: 8px 18px;
    color: #333;
    transition: 0.3s ease;
}
.dropdown-item:hover {
    background-color: #f5f5f5;
    color: #b48a3d;
}

.Gallery-container {
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.Gallery-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(0,0,0,0.35);
}
.Gallery-overlay .small-title {
    font-size: 13px;
    letter-spacing: 2px;
    color: #998;
}
.Gallery-overlay h1 {
    font-size: 40px;
    font-weight: 700;
    color: black;
}
.Gallery-overlay p {
    font-size: 16px;
    color: black;
    text-align: center;
}

/******* style for the Slider Plugin *******/


.imagesSec{
    width: fit-content;
    margin: auto;
    border: 5px solid #eee;
    border-radius: 10px;
    padding: 40px;
}
.imagesSec img{
    width: 200px;
    height: 300px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0px 0px 10px 5px #ccc;
}
.imagesSec img:hover{
    transform: scale(1.2,1.2);
    cursor: pointer;
}
.row .col-md-3 {
    width: 100%;
}


.fullScreen{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgb(0 , 0 , 0 ,.8);
    box-sizing: border-box;
    padding: 0 100px;
}
#maximizedImg{
    margin: auto;
    width: 200px;
    height: 300px;
    transform: scale(1.8,1.8);
    border-radius: 10px;
}
#nextIcon{
    height: fit-content;
    font-size: 100px;
    margin: auto 0;
    z-index: 1; 
}
#prevIcon{
    height: fit-content;
    font-size: 100px;
    margin: auto 0;
    z-index: 1; 
}
#cancelIcon{
    position: absolute;
    right: 20px;
    top: 20px;
}
.fullScreen i{
    color: #979797;
}
.fullScreen i:hover{
    color: white;
    cursor: pointer;
}







/* style for header & footer */
body{
    display: flex;
    min-height: 500px;
    flex-direction: column;
    text-align: center;
    margin: 0;
}
