* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    width: 100%;
    position: relative;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}
.navbar {
    display: flex;
    padding: 10px 0;
    justify-content: space-around;
    width: 100%;
}

.navbar-brand {
    margin-left: 20px;
    font-size: 35px;
    font-weight: 700;
    color: #000;
    padding-left: 3%;
}
.navbar-nav .nav-link {
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin: 0 8px;
    transition: color 0.3s ease;
}
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:active {
    color: #b48a3d;
    transition: 0.2s ease;
}
.navbar-collapse{
    justify-content: center;
}
.fa-shopping-bag{
    font-size: 25px;
}
.dropdown-menu {
    border: none;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
    padding: 10px 0;
}
.dropdown-item {
    font-size: 14px;
    padding: 8px 18px;
    color: #333;
    transition: 0.3s ease;
}
.dropdown-item:hover {
    background-color: #f5f5f5;
    color: #b48a3d;
}

.Gallery-container {
    width: 100%;
    height: 55vh;
    background-image: url(bag\ photo\ 2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.Gallery-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(0,0,0,0.35);
}
.Gallery-overlay .small-title {
    font-size: 15px;
    letter-spacing: 2px;
    margin-top: 20px;
    color: #999;
}
.Gallery-overlay h1 {
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    color: white;
}
.Gallery-overlay p {
    margin: 0;
    font-size: 16px;
    color: white;
    text-align: center;
}


.masonry-gallery{
    column-count: 4;
    column-gap: 15px;
}

.masonry-gallery a{
    position: relative;
    display: block;
    margin-bottom: 15px;
    overflow: hidden;
    border-radius: 10px;
}

/* IMAGE */
.masonry-gallery img{
    width: 100%;
    height: auto;
    display: block;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

/* OVERLAY */
.masonry-gallery a::after{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.55);
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* IMAGE NAME */
.img-title{
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    z-index: 2;
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.3s ease;
}

/* HOVER EFFECT */
.masonry-gallery a:hover::after{
    opacity: 1;
}

.masonry-gallery a:hover .img-title{
    opacity: 1;
    transform: translateY(0);
}

/* RESPONSIVE */
@media (max-width: 992px){
    .masonry-gallery{ column-count: 3; }
}

@media (max-width: 768px){
    .masonry-gallery{ column-count: 2; }
}

@media (max-width: 480px){
    .masonry-gallery{ column-count: 1; }
}

