* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    width: 100%;
    position: relative;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}
.navbar {
    display: flex;
    padding: 10px 25px;
    gap: 200px;
}
.navbar-brand {
    font-size: 35px;
    font-weight: 700;
    color: #000;
}
.navbar-nav .nav-link {
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin: 0 8px;
    transition: color 0.3s ease;
}
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:active {
    color: #b48a3d;
}
.dropdown-menu {
    border: none;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
    padding: 10px 0;
}
.dropdown-item {
    font-size: 14px;
    padding: 8px 18px;
    color: #333;
    transition: 0.3s ease;
}
.dropdown-item:hover {
    background-color: #f5f5f5;
    color: #b48a3d;
}
.hero-banner {
    background: #f9f9f9;
    padding: 70px 0;
}
.hero-container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.hero-text {
    flex: 1;
}

.badge {
    display: inline-block;
    font-size: 14px;
    color: #b48a3d;
    margin-bottom: 15px;
}
.hero-text h1 {
    font-size: 45px;
    line-height: 1.2;
    margin-top: -400px;
    margin-bottom: 20px;
    color: #222;
}

.hero-text h1 span {
    color: #b48a3d;
}

.hero-text p {
    font-size: 16px;
    color: #666;
    max-width: 500px;
    margin-bottom: 30px;
}
.hero-buttons {
    display: flex;
    gap: 15px;
}
.btn {
    padding: 12px 26px;
    text-decoration: none;
    font-size: 15px;
    border-radius: 6px;
    transition: 0.3s ease;
}
.primary-btn {
    background: #5a3a1c;
    color: #fff;
}
.primary-btn:hover {
    background: #472d15;
    color: #fff;
}
.secondary-btn {
    border: 1px solid #ccc;
    color: #333;
}
.secondary-btn:hover {
    background: #eee;
}
.hero-image {
    position: relative;
    max-width: 100%;
    border-radius: 14px;
    text-align: right;
}
.discount {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #222;
    color: #fff;
    padding: 6px 14px;
    font-size: 13px;
    border-radius: 20px;
}
.footer{
   background: #7a513f;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
}

.newsletter {
    padding: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.newsletter h2{
    margin-bottom: 10px;
    font-size:24px;
}
.newsletter-box{
    margin-top: 15px;
}
.newsletter-box input{
    padding: 10px;
    width: 250px;
    border: none;
    outline: none;
}
.newsletter-box button {
    padding: 10px 25px;
    border: none;
    background: #f4b400;
    cursor: pointer;
}
.footer-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    padding: 40px;
}
@media (max-width: 768px){
    .footer-content{
        display: flex;
        flex-direction: column;
    }
}

.footer-col h4 ,
.footer-col h3{
    margin-bottom: 15px;
}
.footer-col ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}
.footer-col ul li{
    display: block;
    margin-bottom: 8px;
    cursor: pointer;
}
.footer-col ul li:hover {
    color: #f4b400;
}
.footer-bottom{
    text-align: center;
    padding: 15px;
    color: #fff;
    
}