* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    width: 100%;
    position: relative;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}
.navbar {
    display: flex;
    padding: 10px 0;
    justify-content: space-around;
    width: 100%;
}

.navbar-brand {
    margin-left: 20px;
    font-size: 35px;
    font-weight: 700;
    color: #000;
    padding-left: 3%;
}
.navbar-nav .nav-link {
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin: 0 8px;
    transition: color 0.3s ease;
}
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:active {
    color: #b48a3d;
    transition: 0.2s ease;
}
.navbar-collapse{
    justify-content: center;
}
.fa-shopping-bag{
    font-size: 25px;
}
.dropdown-menu {
    border: none;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
    padding: 10px 0;
}
.dropdown-item {
    font-size: 14px;
    padding: 8px 18px;
    color: #333;
    transition: 0.3s ease;
}
.dropdown-item:hover {
    background-color: #f5f5f5;
    color: #b48a3d;
}
.hero-banner {
    background: #f9f9f9;
    padding: 70px 0;
}
.hero-container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.badge  {
    font-size: 14px;
    color: #b48a3d;
    margin: 55px 10px;
}
.hero-text h1 {
    font-size: 55px;
    font-weight: 500;
    line-height: 1.2;
    margin-top: -300px;
    margin-bottom: 20px;
    color: #222;
}
.hero-text h1 span b {
    color: #b48a3d;
}
.hero-text p {
    font-size: 16px;
    color: #666;
    max-width: 500px;
    margin-bottom: 30px;
}
.hero-buttons {
    display: flex;
    gap: 15px;
}
.hero-buttons button{
    background-color: #472d15;
    color: white;
}
.hero-image {
    height: 100%;
    position: relative;
    max-width: 100%;
    border-radius: 14px;
}
.hero-image img{
    height: 450px;
}
.hero-image span {
    font-size: 14px;
    font-weight: 400;
    background: #472d15;
}
.discount {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #222;
    color: #fff;
    padding: 6px 14px;
    font-size: 13px;
    border-radius: 20px;
}


/* -----about----- */
.About-container {
    width: 100%;
    height: 50vh;
    background-image: url("bag\ photo\ 7.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.About-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(0,0,0,0.35);
}
.About-overlay h1 {
    font-size: 60px;
    font-weight: 700;
    color: #fff;
}
.About-overlay p {
    font-size: 16px;
    color: #fff;
    text-align: center;
}
.imgg {
    width: 100%;
    max-width: 500px;
    height: auto;
}
.list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.list-item {
    width: 48%;
    display: flex;
    align-items: center;
    gap: 6px;
}
.row {
   display: flex;
   flex-wrap: wrap;
}
.stats-section {
  background: #472d15;
  color: #fff;
  gap: 20px;
}

.stat-box i {
  font-size: 32px;
  color: #ffc107;
  margin-bottom: 10px;
}

.stat-box h3 {
  font-size: 28px;
  font-weight: 700;
  margin: 0;
}

.stat-box p {
  margin: 5px 0 0;
  font-size: 14px;
  opacity: 0.9;
}
/* From Uiverse.io by vamsidevendrakumar */ 
.container {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    height: auto;
}
.location-card {
    width: 300px;
    height: 200px;
    perspective: 1000px;
  }
  .card-row{
    margin-top: 10px;
  }
  .card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.999s;
  }
  
  .location-card:hover .card-inner {
    transform: rotateY(180deg);
  }
  
  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .card-front {
    background-color: #6A2C70;
    color: #fff;
    display: flex;
    align-items: center;
    border: 10px solid #6A2C70;
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(0deg);
  }
  
  .card-back {
    background-color: #F08A5D;
    color: #fff;
    display: flex;
    align-items: center;
    border: 10px solid #F08A5D;
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(180deg);
  }
  .location-col p{
    font-size: 10px;
    font-weight: 500;
  }
  


/* ----contact us----- */
.contact-hero {
    padding: 80px 0;
    background: #fff;
}
.contact-hero h1 {
    font-size: 48px;
    font-weight: 700;
}
.contact-hero .small-title {
    letter-spacing: 2px;
    font-size: 13px;
    color: #999;
}
.contact-hero .subtitle {
    max-width: 600px;
    margin: auto;
    color: #666;
}
.contact-section {
    background: #f6f6f6;
    padding: 60px 0;
}
.info-box {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.info-box h5 {
    font-weight: 600;
    margin-bottom: 10px;
}
.form-box {
    background: #fff;
    padding: 30px;
    border-radius: 8px;
}
.form-box h4 {
    margin-bottom: 25px;
    font-weight: 600;
}
.form-control {
    height: 45px;
}
textarea.form-control {
    height: auto;
}
.button {
    gap: 20px;
    background-color: #f4b400;
}
.feedback-section {
    padding: 80px 0;
    background: #f7f7f7;
}
.feedback-header h2 {
    font-size: 40px;
    font-weight: 700;
}
.small-title {
    letter-spacing: 2px;
    font-size: 13px;
    color: #999;
}
.line {
    display: block;
    width: 60px;
    height: 3px;
    background: #f4b400;
    margin: 10px auto 40px;
}

.feedback-card {
  max-width: 600px;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
.rate-text {
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
}

.stars {
    text-align: center;
    margin-bottom: 25px;
}
.star {
    font-size: 28px;
    color: #ddd;
    cursor: pointer;
    margin: 0 4px;
}
.star.active {
    color: #f4b400;
}
.form-control {
    height: 45px;
}
textarea.form-control {
    height: auto;
}
.btn-warning {
    background: #f4b400;
    border: none;
    color: #fff;
    font-weight: 600;
}
.btn-warning:hover {
    background: #e0a800;
}


.query-section {
    padding: 80px 0;
    background: #f6f6f6;
}
.query-header h2 {
    font-size: 42px;
    font-weight: 700;
}
.small-title {
    font-size: 13px;
    letter-spacing: 2px;
    color: #999;
}
.subtitle {
    max-width: 600px;
    margin: 10px auto 40px;
    color: #666;
}
.query-card {
  max-width: 600px;
  margin: auto;
  padding: 25px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
.query-card label {
    font-weight: 500;
    margin-bottom: 6px;
}
.btn-warning {
    background: #f4b400;
    border: none;
    color: white;
    font-weight: 600;
}
.btn-warning:hover {
    background: #e0a800;
}

/* ----footer----- */
.footer{
   background: #7a513f;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
}
.newsletter {
    padding: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.newsletter h2{
    margin-bottom: 10px;
    font-size:24px;
}
.newsletter-box{
    margin-top: 15px;
}
.newsletter-box input{
    padding: 10px;
    width: 250px;
    border: none;
    outline: none;
}
.newsletter-box button {
    padding: 10px 25px;
    border: none;
    background: #f4b400;
    cursor: pointer;
}
.newsletter-box {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}
.newsletter-box input {
    flex: 1 1 200px;
}

.footer-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    padding: 40px;
}
@media (max-width: 768px){
    .footer-content{
        display: flex;
        flex-direction: column;
    }
}
.footer-col h4 ,
.footer-col h3{
    margin-bottom: 15px;
}
.footer-col.social {
    display: flex;
    gap: 15px;
}
.footer-col.social a {
    color: #fff;
    font-size: 18px;
    transition: color 0.3s ease;
}
.footer-col.social a:hover {
    color: #f4b400;
}
.footer-col ul li {
    transition: color 0.3s ease;
}
.footer-bottom {
    text-align: center;
    padding: 15px;
    color: #fff;
    border-top: 1px solid rgba(255,255,255,0.2);
}
